<a href="https://colab.research.google.com/github/AlexsonT/Prog_DS2_Growdev/blob/main/exercicios_aula04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercícios - Programação para Data Science II

### Utilize os arquivos funcionarios.csv, cargos.csv e setores.csv como entrada para o processamento requerido nos seguintes exercícios.

**Bibliotecas**

In [86]:
import pandas as pd
import numpy as np
from datetime import datetime

Execução de arquivos

In [56]:
df_cargos = pd.read_csv('cargos.csv', sep=',')

In [57]:
df_funcionarios = pd.read_csv('funcionarios.csv', sep=',')

In [55]:
df_setores = pd.read_csv('setores.csv', sep=',')

Base de dados

In [52]:
df_cargos_funcionarios= pd.merge(df_funcionarios, df_cargos, how='left', on='cargo_id')
df_completo = pd.merge(df_cargos_funcionarios, df_setores, how='left', on='setor_id' )

In [68]:
df_completo.head(10)

,funcionario_nome,funcionario_idade,funcionario_cpf,cargo_id,setor_id,cargo_nome,cargo_nivel,cargo_salario,setor_nome
0,Daniel Batista,36,27176353356,1,2,Estagiario,1,1200,Compras
1,Bianca Garcia,39,21461638191,3,1,Analista,2,3500,Vendas
2,Guilherme Silva,45,54088099503,1,2,Estagiario,1,1200,Compras
3,Leonardo Barros,23,3388954911,5,1,Especialista,2,7000,Vendas
4,Daniel Barros,18,36195973218,3,1,Analista,2,3500,Vendas
5,Maria Andrade,55,73777223744,5,2,Especialista,2,7000,Compras
6,Leonardo Garcia,34,58793173844,5,2,Especialista,2,7000,Compras
7,Claudia Barros,37,87838447437,2,1,Analista,1,3500,Vendas
8,Lauro Andrade,44,65316999502,5,5,Especialista,2,7000,RH
9,PedroAna Freitas,38,67812403509,4,5,Especialista,1,7000,RH

1) Faça o pivoteamento de forma a mostrar a relação entre cargos e setores com a média salarial.

In [69]:
cargos_setores = pd.pivot_table(
    df_completo,
    values=['cargo_nome'],
    index=['cargo_nivel'],
        aggfunc={'cargo_salario': np.mean}
)
display(cargos_setores)

KeyError: ignored

 2) Faça um pivoteamento para elucidar quais setores possuem mais de 5 funcionários acima de 55 anos?

3) Faça um pivoteamento para mostrar a relação entre os níveis dos cargos e os salários dos funcionários com a média salarial.

### Utilize os recursos relativos a manipulação de strings para responder aos seguintes questionamentos.

1) Transforme a data ‘2022/09/21’ em ‘21-09-2022’.

In [99]:
data = '2022/09/21'
data_formatada = datetime.strptime(data, '%Y/%m/%d').date()

print(data_formatada.strftime('%d-%m-%Y'))

21-09-2022

2) Faça um programa que verifique quais caracteres são diferentes entre duas
strings, apontando quais são e em que posição estão. A comparação deve
ser caracter por caracter.

3) Faça um programa que solicite a data de nascimento (dd/mm/aaaa) do
usuário e imprima a data com o nome do mês por extenso.

In [101]:
data = str(input('Insira sua data de nascimento (dd/mm/aaaa):'))

Insira sua data de nascimento (dd/mm/aaaa):24/04/1989

4) Verifique se uma string é um palíndromo. Um palíndromo é uma seqüência
de caracteres cuja leitura é idêntica se feita da direita para esquerda ou
vice−versa.

5) Desenvolva um programa que solicite a digitação de um número de CPF no
formato xxx.xxx.xxx-xx e verifique se o número realmente foi digitado no
formato correto.